#content-service-select {
    width: 20vw;
}

.content-service {
    width: 55vw;
    .splash {
        font-size: 1.5rem;
    }
    h1 {
        margin-bottom: 0 !important;
    }
    p {
        color: $font-dark;
        margin-top: 2rem;
    }
    ul {
        li {
            margin: .25rem 0;
        }
    }
}
