.button {
    font-size: 1rem;
    cursor: pointer;
}

.button-in-line {
    color: $font-dark;
    cursor: pointer;
    &:hover {
        opacity: .5;
    }
}

.button-default {
    color: $font-main;
    padding: .5rem 1rem;
    background-color: $splash;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
}
