.enquiry-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#admin-enquiries {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 7rem !important;
        padding-bottom: 1.25rem;
        width: 100%;
    }

    .enquiry-list {
        border-top: solid 2px rgba($font-dark, .25);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .enquiry {
        padding: 2.25vh 0;
        border-bottom: solid 2px rgba($font-dark, .25);
        width: 100%;
        display: grid;
        flex-direction: row;
        grid-template-columns: 2fr 2.5fr;
        cursor: pointer;

        &:hover {
            opacity: .5;
        }

        .enquiry-user {
            padding-left: 1.25rem;
            display: flex;
            flex-direction: row;

            .enquiry-service {
                padding-right: 1rem;
                padding-top: .15rem;
                padding-bottom: .15rem;
                border-right: solid 1px $splash;
                font-weight: lighter;
            }

            .enquiry-user-name {
                padding-left: 1rem;
                padding-top: .15rem;
                padding-bottom: .15rem;
                font-weight: lighter;
            }
        }

        .enquiry-enquiry {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-height: 1rem;
            color: rgba($font-dark, .5);
            padding-right: 1.25rem;
            padding-top: .15rem;
            padding-bottom: .15rem;
            font-weight: lighter;
        }
    }

    #enquiry-filter {
        font-size: 1rem;
        font-weight: lighter;
        float: right;
        margin-left: auto;
        margin-right: 1.75rem;
        margin-bottom: 1rem;
        color: $splash;
        text-decoration: underline;

        &:hover {
            color: $font-dark;
        }
    }

    #enquiry-view {
        display: flex;
        flex-direction: column;
        width: calc(50vw - 3.5rem);
        border-bottom: solid 2px rgba($font-dark, .25);
        //background-color: #4a5568;
        margin-top: 1.75rem;
        padding: 0 1.75rem 1.75rem;

        #enquiry-back {
            text-transform: uppercase;
            letter-spacing: .25rem;
            color: $red;
            cursor: pointer;
            float: right;
            margin-left: auto;
            font-weight: lighter;
        }

        .enquiry-detail {
            font-weight: lighter;
            color: $font-dark;
            padding-bottom: .5rem;

            .enquiry-detail-value {
                color: rgba($font-dark, .5)
            }
        }

        p {
            margin-top: 1.75rem;
            color: rgba($font-dark, .5);
            font-weight: lighter;
            overflow-x: scroll;
            transition: max-height .5s;
        }
    }

    #enquiry-actions {
        float: right;
        margin-left: auto;
        margin-right: 1.75rem;
        margin-top: 1rem;

        #enquiry-reply {
            text-transform: uppercase;
            letter-spacing: .25rem;
            color: $splash;
            cursor: pointer;
            font-weight: lighter;
            margin-left: 1rem;
        }

        #enquiry-reply-cancel {
            text-transform: uppercase;
            letter-spacing: .25rem;
            color: $font-dark;
            cursor: pointer;
            font-weight: lighter;
        }

        #enquiry-archive {
            text-transform: uppercase;
            letter-spacing: .25rem;
            color: rgba($font-dark, 1);
            cursor: pointer;
            font-weight: lighter;
        }

        #enquiry-reply-send {
            text-transform: uppercase;
            letter-spacing: .25rem;
            margin-left: 1rem;
            color: $splash;
            cursor: pointer;
            font-weight: lighter;
        }

        #enquiry-show {
            text-transform: uppercase;
            letter-spacing: .25rem;
            margin-left: 1rem;
            color: $font-dark;
            cursor: pointer;
            font-weight: lighter;
        }
    }

    #enquiry-active-actions {
        width: 100%;
        margin-left: 1.75rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        #enquiry-active-archive {
            text-transform: uppercase;
            letter-spacing: .25rem;
            margin-left: 1rem;
            color: $font-dark;
            cursor: pointer;
            font-weight: lighter;
        }

        #enquiry-active-complete {
            text-transform: uppercase;
            letter-spacing: .25rem;
            margin-left: 1rem;
            color: green;
            cursor: pointer;
            font-weight: lighter;
        }
    }

    .enquiry-reply-wrapper {
        width: 100%;

        #enquiry-reply-form {
            padding: 1rem 1rem 0;

            textarea {
                color: rgba($font-dark, .5);
                height: 10vh;
            }

            button[type='submit'] {
                background-color: transparent;
                text-transform: uppercase;
                letter-spacing: .25rem;
                margin-left: auto;
                float: right;
                padding: 0;
                margin-right: .75rem;
                color: $splash;
                cursor: pointer;
                font-weight: lighter;
            }
        }
    }

    #enquiry-no-uuid {
        width: calc(100% - 3.5rem);
        margin-top: 2rem;
    }
}
